*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(251, 184, 41);
    font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul{
    list-style: none;
}
li {
    padding: 20px;
    border: 2px solid rgba(178, 123, 123, 0.1);
    border-radius: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
    li:hover {
      border: 2px solid rgba(223, 148, 62, 0.3);
    }
h1{
    margin-bottom: 10px;
    font-size: 25px;
}
.App{
    width: 400px;
    border-radius: 30px;
    padding: 20px;
    background-color: #fff;
    margin-top: 100px;
}
.result{
    text-align: center;
}
.result button{
    border: none;
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(18, 231, 48, 1) 0%, rgba(0, 212, 255, 1) 100%);
    padding: 7px 20px;
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
    .result button:hover{
        border: 2px solid rgba(0, 0, 0, 0.4);
    }
.progress{
    height: 10px;
    border-radius: 30px;
    background-color: rgb(232, 232, 232);
    margin-bottom: 25px;
}